div	{
	border: 1px solid red;
}

.flex-grid {
	display: flex;
 	margin-left: auto;
 	margin-right: auto;
}
.col {
	flex: 1;
}

.col > div {
	height: 80px;
	text-align: center;
	font-size: 35px;
	padding-top: 10px;
}

.free-space {
	font-size: .5em;
}

.selected {
	background-color: #1976D2;
}